
<!-- Code for Layouts -->
<h1>
    Welcome <%= user.name%> 
    Your email is <%= user.email%> 
</h1>


<!-- Code For Partial -->
<!-- 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('_header') %>

    <h1>
        Welcome <%= user.name%>
    </h1>
    <%- include('_footer') %>
</body>
</html> -->